<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>{% block title %}
{% endblock %}    <link rel="stylesheet" type="text/css" href="{{ static_url }}main.css" />
    <link rel="stylesheet" type="text/css" href="{{ static_url }}fluid/fluid.css" />
    <link rel="shortcut icon" href="{{ static_url }}favicon.ico" />
</head>

<body>
<div id="container">{% block container %}
{% endblock %}    <div class="row" id="footer"></div>
</div>
</body>

</html>