{% extends "fluid/common.html" %}

{% block title %}
    <title>References</title>
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
                MathJax.Hub.Config({
                    extensions: ["tex2jax.js","TeX/noErrors.js","TeX/AMSsymbols.js"],
                    jax: ["input/TeX","output/HTML-CSS"],
                    tex2jax: {
                        inlineMath: [['$','$'],["\\(","\\)"]],
                        displayMath: [['\\[','\\]'], ['$$','$$']]
                    },
                    "HTML-CSS": {availableFonts:["TeX"]}
                });
    </script>
{% endblock %}

{% block container %}
    <div class="row" id="header">
        <div class="fleft breadcrumbs">
            <a href="{{ site_url }}">Main Page &gt;</a>
        </div>
        <div class="fleft breadcrumbs">
            <a href="{{ site_url }}/fluid/">Fluid PVT &gt;</a>
        </div>
    </div>

    <div class="row" id="content">
        <div class="texter">
            <h1>References</h1>
        </div>

        <hr/>

        <div class="texter">
            <h2>Books</h2>
        </div>

        {% for book in books %}
        <div class="texter">
            <p>
                {{ book.authors | safe }} ({{ book.year }}).
                <a rel="nofollow" class="external text" href="{{ book.link }}">
                    "{{ book.title | safe }}"</a>.
                <i>{% autoescape off %}{{ book.publisher }}{% endautoescape %}</i>
                ISBN:&nbsp;{{ book.isbn }}.
            </p>

            <p class="gray">
                {{ book.description | safe }}
            </p>
        </div>
        {% endfor %}

        <hr/>

        <div class="texter">
            <h2>Papers</h2>
        </div>

        {% for paper in papers %}
        <div class="texter">
            <p>
                {{ paper.authors | safe }} ({{ paper.year }}).
                <a rel="nofollow" class="external text" href="{{ paper.link }}">
                    "{{ paper.title | safe }}"</a>.
                <i>{% autoescape off %}{{ paper.journal }}{% endautoescape %}</i>
                DOI:&nbsp;<a rel="nofollow" class="external text"
                   href="http://dx.doi.org/{{ paper.doi }}">{{ paper.doi | safe }}</a>.
            </p>

            <p class="gray">
                {{ paper.description | safe }}
            </p>
        </div>
        {% endfor %}

        <hr/>

        <div class="texter">
            <h2>Other</h2>
        </div>

        {% for other in others %}
        <div class="texter">
            <p>
                {{ other.authors | safe }}
                <a rel="nofollow" class="external text" href="{{ other.link }}">
                    "{{ other.title | safe }}"</a>.
                <i>{% autoescape off %}{{ other.source }}{% endautoescape %}</i>
            </p>

            <p class="gray">
                {{ other.description | safe }}
            </p>
        </div>
        {% endfor %}

    </div>
{% endblock %}
