<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{ header }}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2" style="padding:15px;">
                <strong><a href='/'>Back to entires list</a></strong>
                <hr>
                {% for tag in tags %}
                [<a href='/{{ tag.link }}/'>{{ tag.visible }}</a>]
                <br>
                {% endfor %}
            </div>

            <div class="col-md-8 col-lg-9">
                {% block container %}
                {% endblock %}
                <hr>
                All materials in this blog are either written or edited by <a href="mailto:shmakir@yandex.ru">Kirill Shmakov</a>.
            </div>
        </div>
    </div>

{% for resource in resources %}
    {{ resource | safe }}
{% endfor %}

</body>
</html>