<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Page #1</title>
</head>

<body>
    {% for description in descriptions %}
    <div>
        <h2><a href="/entry/{{ description.id }}/" >{{ description.header }}</a></h2>
        <p>
            Updated: {{ description.updated }}
        </p>
        <p>
            {{ description.summary }}
        </p>
        {% for tag in description.tags %}
            [<a href='/{{ tag.link }}/'>{{ tag.visible }}</a>]
        {% endfor %}
        <hr>
    </div>
    {% endfor %}
</body>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</html>
