[submodule "modules/tswraps"]
	path = modules/tswraps
	url = git@github.com:borisyankov/DefinitelyTyped.git
[submodule "modules/sh"]
	path = modules/sh
	url = git@github.com:alexgorbatchev/SyntaxHighlighter.git