@import url("../main.css");

ul {
    padding: 0 0 0 20px;
    list-style-type: square;
}

li {
    padding: 10px 0 10px 0;
}

.breadcrumbs {
    padding: 25px 5px 10px 40px;
    font-family: Helvetica, sans-serif;
}

.teaser {
    color: #2f2f2f;
}

#content {
    padding: 0 30px 0 30px;
}