<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <meta name="author" content="Kirill Shmakov">

    <link rel="stylesheet" type="text/css" href="{{ config['STATIC_URL'] }}notes/notes.css" />
    <link rel="shortcut icon" href="{{ config['STATIC_URL'] }}favicon.ico" />
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(50104159, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50104159" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<header class="bd-header bg-light py-3 d-flex align-items-stretch border-bottom .border-secondary">
  <div class="container-fluid d-flex align-items-center">
      <a href="{{ config['HOME_URL'] }}" class="mb-0 me-3 link-primary"><h4>Home</h4></a>
      {% block notes_home %}{% endblock %}
      <h2 class="me-auto ms-auto">{{ self.title() }}</h2>
      {% block edit_suggestion %}{% endblock %}
  </div>
</header>

<main class="container-fluid mt-4">
    {% block body %}{% endblock %}
</main>

</body>
</html>
