{% extends "notes/common.html" %}

{% block title %}
    <meta name="keywords" content="metaphysics метафизика"/>
    <title>{{ text.title | safe }}</title>
{% endblock %}

{% block container %}
    <div class="row" id="header">
        <div class="fleft breadcrumbs">
            <a href="{{ site_url }}">Main Page &gt;</a>
        </div>
        <div class="fleft breadcrumbs">
            <a href="{{ site_url }}/notes/mp/">Metaphysics &gt;</a>
        </div>
    </div>

    <div class="row" id="content">
        <div class="texter">
            <h2>{{ text.title | safe }}</h2>
            <p class="gray">{{ text.author | safe }}</p>
        </div>

        <hr/>

        <div class="texter">
            {{ text.body | safe }}
        </div>

        <hr/>

        <div class="texter fleft">
            <a href="{{ text.link }}">Оригинал
                текста</a>
        </div>

        <div class="texter fright">
            <p class="gray">
                При оформлении использовался <a href="http://www.artlebedev.ru/tools/typograf/">
                <img src="{{static_url}}notes/lebedev.ico" class="logo">Типограф</a>
            </p>
        </div>
    </div>
{% endblock %}
