{% extends "common.html" %}

{% block title %}
    <meta name="keywords" content="metaphysics метафизика"/>
    <title>{{ text.title | safe }}</title>
{% endblock %}

{% block container %}
    <div id="header">
        <div class="texter fleft">
            <a href="{{ site_url }}">Main Page &gt;</a>
        </div>
        <div class="texter fleft">
            <a href="{{ site_url }}/notes/mp/">Metaphysics &gt;</a>
        </div>
    </div>

    <div id="content">
        <div class="texter">
            <h2>{{ text.title | safe }}</h2>
            <h3>{{ text.author | safe }}</h3>
        </div>

        <hr/>

        <div class="texter">
            {{ text.body | safe }}
        </div>

        <hr/>

        <div class="texter fleft">
            <a href="{{ text.link }}">Оригинал
                текста</a>
        </div>

        <div class="texter fright">
            При оформлении использовался <a href="http://www.artlebedev.ru/tools/typograf/">
            <img src="{{static_url}}notes/lebedev.ico" class="logo">Типограф</a>
        </div>
    </div>
{% endblock %}
