{% extends "notes/common.html" %}

{% block title %}
    <meta name="keywords" content="technology technologic"/>
    <title>{{ text.title | safe }}</title>
    <script type="text/javascript" src="{{ static_url }}sh/xregexp-min.js"></script>
    <script type="text/javascript" src="{{ static_url }}sh/shCore.js"></script>
    <script type="text/javascript" src="{{ static_url }}sh/shBrushBash.js"></script>
    <link rel="stylesheet" href="{{ static_url }}sh/shCore.css" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url }}sh/shCoreMidnight.css" type="text/css"/>
{% endblock %}

{% block container %}
    <div class="row" id="header">
        <div class="fleft breadcrumbs">
            <a href="{{ site_url }}">Main Page &gt;</a>
        </div>
        <div class="fleft breadcrumbs">
            <a href="{{ site_url }}/notes/th/">Technology &gt;</a>
        </div>
    </div>

    <div class="row" id="content">
        <div class="texter">
            <h2>{{ text.title | safe }}</h2>
        </div>

        <hr/>

        <div class="texter">
            {{ text.body | safe }}
        </div>

    <script type="text/javascript">
        SyntaxHighlighter.defaults['gutter'] = false;
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
    </script>
    </div>
{% endblock %}
