{% extends "common.html" %}

{% block title %}
    <meta name="keywords" content="technology technologic"/>
    <title>{{ text.title | safe }}</title>
{% endblock %}

{% block container %}
    <div class="row" id="header">
        <div class="fleft breadcrumbs">
            <a href="{{ site_url }}">Main Page &gt;</a>
        </div>
        <div class="fleft breadcrumbs">
            <a href="{{ site_url }}/notes/th/">Technology &gt;</a>
        </div>
    </div>

    <div class="row" id="content">
        <div class="texter">
            <h2>{{ text.title | safe }}</h2>
        </div>

        <hr/>

        <div class="texter">
            {{ text.body | safe }}
        </div>

    </div>
{% endblock %}
