<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="Kirill Shmakov Кирилл Шмаков"/>
    <link rel="stylesheet" type="text/css" href="{{ static_url }}main.css" />
    <link rel="shortcut icon" href="{{ static_url }}favicon.ico" />
    <title>Kirill Shmakov</title>
</head>

<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(50104159, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50104159" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<div id="container">

    <div class="row" id="header"></div>

    <div class="row">
        <div class="fleft halfwidth">
            <div class="cell">
                <div class="center">
                    <img src="{{ static_url }}welcome/me.jpg" class="photo center" alt="Kirill Shmakov" height="300"/>
                </div>
            </div>
        </div>

        <div class="fright halfwidth">
            <div class="cell">
                <div class="texter">
                    <h1>Kirill Shmakov</h1>
                </div>
                <div class="texter">
                    <p>
                        You could find here <a href="fluid/">some notes</a> on thermodynamic fluid simulation. Right now I'm extending them into some
                        web-app for online computations.
                    </p>
                    <p>
                        I keep <a href="notes/th/"> technological</a> and <a href="notes/mp/">metaphysical</a> texts, primary for myself.
                    </p>
                </div>
                <div class="texter">
                    <p>
                        Feel free to email me:
                        <a href="mailto:shmakir@yandex.ru" class="email">shmakir@yandex.ru</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="fleft halfwidth">
            <div class="cell">
                <div class="center">
                    <table class="sparse center" style="width:240px;">
                        <tr>
                            <td>
                                <a href="https://t.me/KirillShmakov">
                                    <img src="{{ static_url }}welcome/tg.png" class="logo"/>Telegram
                                </a>
                            </td>
                            <td>
                                <a href="https://github.com/kishmakov">
                                    <img src="{{ static_url }}welcome/gh.png" class="logo"/>Github
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://vk.com/shmakov">
                                    <img src="{{ static_url }}welcome/vk.png" class="logo"/>VKontakte
                                </a>
                            </td>
                            <td>
                                <a href="https://facebook.com/kishmakov">
                                    <img src="{{ static_url }}welcome/fb.png" class="logo"/>Facebook
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://twitter.com/kishmakov">
                                    <img src="{{ static_url }}welcome/tw.png" class="logo"/>Twitter
                                </a>
                            </td>
                            <td>
                                <a href="https://mathoverflow.net/users/7095/kirill-shmakov">
                                    <img src="{{ static_url }}welcome/mo.png" class="logo"/>MathOverflow
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="fright halfwidth">
            <div class="cell">
                <div class="texter">
                    <p class="bold">
                        Software Engineer @
                        <a href="https://jetbrains.com" target="_blank">JetBrains</a>
                    </p>
                    <p class="gray">
                        January 2019 &mdash; Now
                    </p>
                </div>

                <div class="texter">
                    <p class="bold">
                        Software Engineer @
                        <a href="https://yandex.ru" target="_blank">Yandex</a>
                    </p>
                    <p class="gray">
                        August 2012 &mdash; December 2018
                    </p>
                </div>

                <div class="texter">
                    <p class="bold">
                        PhD in Applied Math @
                        <a href="https://www.mcgill.ca/" target="_blank">McGill</a>
                    </p>
                    <p class="gray">
                        September 2010 &mdash; June 2012 (unfinished)
                    </p>
                </div>

                <div class="texter">
                    <p class="bold">
                        MSc in Pure Math @
                        <a href="https://english.spbu.ru" target="_blank">SPb SU</a>
                    </p>
                    <p class="gray">
                        September 2005 &mdash; June 2010
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="footer"></div>
</div>
</body>

</html>